.head {
    background-color: #00497c;
    display: flex;
    color: #f1f8fc;
}

.head > * {
    margin: auto;
}

img {
    width: 10%;
    height: 10%;
}

a {
    color: #f1f8fc;
    text-decoration-line: none;
}

a:hover {
    color: #cd2c2e;
}