<div class="foot">
    <div>
        Nom du site <br />
        <br />
        <br />
        <div>
            <img src="facebook.png" routerLink="www.facebook.com"/>
            <img src="linkedin.png" routerLink="www.linkedin.com"/>
            <img src="youtube.png" routerLink="www.youtube.com"/>
            <img src="instagram.png" routerLink="www.instagram.com"/>
        </div>
        
    </div>
    <div>
        Mentions légales <br />
        Données personnelles <br />
        Accessibilité <br />
        Cookies
    </div>
    <div>
        101 cours Charlemagne <br/>
        CS 20033 <br />
        69269 LYON CEDEX 02 <br />
        France <br />
        +33 (0)4 26 73 40 00
    </div>
</div>
